# build output
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment
.env
.env.production

# macOS
.DS_Store

# editors
.vscode/
.idea/

# written by scripts/progress-snapshot.mjs at deploy; the real history lives on the progress-data branch
src/data/progress-history.json
